@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f8fafc;
}

html,
body {
  background: var(--bg);
  color: #0f172a;
}

.prose-zin {
  white-space: pre-wrap;
  line-height: 1.6;
  font-size: 0.95rem;
}
